---
Checks: >
    -*,performance-*,readability-*,bugprone-*,clang-analyzer-*,cppcoreguidelines-*,mpi-*,misc-*,
    -cppcoreguidelines-avoid-non-const-global-variables,
    -readability-identifier-length,
    -misc-non-private-member-variables-in-classes,-cppcoreguidelines-non-private-member-variables-in-classes,
    -cppcoreguidelines-virtual-class-destructor,
    -cppcoreguidelines-special-member-functions,
    -bugprone-easily-swappable-parameters,
    -readability-braces-around-statements,
    -bugprone-branch-clone,
    -cppcoreguidelines-init-variables,
    -misc-const-correctness,
    -cppcoreguidelines-owning-memory,
    -cppcoreguidelines-avoid-magic-numbers,
    -readability-magic-numbers,
    -clang-diagnostic-error,
    -cppcoreguidelines-pro-type-member-init,
    -readability-convert-member-functions-to-static,
    -cppcoreguidelines-macro-usage,
    -cppcoreguidelines-prefer-member-initializer,
    -readability-implicit-bool-conversion