# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.vs
*.lua

!/Editor/Templates/*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

# Ignore windows build files
/bin/
/build/
/out/

Games/*/*State.yaml
Games/*/*Config.yaml
Editor/editor_settings.yaml

# Keep FPSGame files
!/Games/FPSGame/*
!/Games/FPSGame/Scripts/*

# Ignore temporary multiplayer states
MultiplayerStates/*
!MultiplayerStates/.gitkeep