[submodule "external_src/glm"]
	path = external_src/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/SDL"]
	path = vendor/SDL
	url = https://github.com/libsdl-org/SDL.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
