# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.vs

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignore windows build files
/bin/
/build/
/out/

/Shaders
Games/*/*State.yaml
Editor/editor_settings.yaml